
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(198, 189, 189);
}

header {
    background-color: rgb(140, 160, 75);
    color: #bc1717;
    text-align: left;
    padding: 10px;
    scroll-timeline-name: 12;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.book-list, .add-book, .searchi{
    background-color:rgb(244, 247, 248);
    padding: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    
    }

    .search button {
        background-color: rgb(13, 185, 110);
        border: 12;
        border-radius: 50px;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.5s ease;
    
    
    }
    
    .search button:hover {
        background-color: #0db96e; 
        transform: scale(1.05); 
    }

    .add-book button {
        background-color: rgb(13, 185, 110);
        border: 12;
        border-radius: 40px;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        display: inline-block;
    }
    
    .add-book button:hover {
        background-color: #0db96e; 
        transform: scale(1.05); 
        text-align: center;
    }

h2 {
    border-bottom: 2px solid #ea5c5c;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
/* Styles for larger screens */
@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    .book-list, .add-book, .search {
        width: 30%;
        margin: 0;
    }
}

/* Styles for smaller screens */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .book-list, .add-book, .search {
        width: 100%;
        margin: 10px 0;
    }
}




